<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5bb8cf6b-df99-459d-8418-eb94aa7982b2/resourceGroups/Projeto_To_Do/providers/Microsoft.Web/sites/apiprojetotodo</ResourceId>
    <ResourceGroup>Projeto_To_Do</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apiprojetotodo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>77c28db2-a215-4867-a128-1650bb085c3b</ProjectGuid>
    <PublishUrl>https://apiprojetotodo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$apiprojetotodo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>